[submodule "sub-module-test-1"]
	path = sub-module-test-1
	url = https://github.com/cocoa-salon/sub-module-test-1
[submodule "sub-module-test-2"]
	path = sub-module-test-2
	url = https://github.com/cocoa-salon/sub-module-test-2
[submodule "sub-module-test-3"]
	path = sub-module-test-3
	url = https://github.com/cocoa-salon/sub-module-test-3.git
